.main-in {
    
    .main-content.case-content.main-dev-content {
        padding: 20px 30px 35px;

        .staff-header {
            align-items: flex-end;

            button {
                padding: 10px 30px;
            }
        }

        .staff-content {
            padding: 30px 30px 40px;

            .case-list {
                margin-top: 65px;
                width: 100%;
                display: grid;
                grid-template-columns: repeat(6, 260px);
                align-content: space-around;
                justify-content: space-between;
                @media screen and (max-width: 1980px) {
                    grid-template-columns: repeat(5, 260px);
                }
                @media screen and (max-width: 1680px) {
                    grid-template-columns: repeat(4, 260px);
                }
                @media screen and (max-width: 1440px) {
                    grid-template-columns: repeat(3, 260px);
                }
                @media screen and (max-width: 930px) {
                    grid-template-columns: repeat(2, 260px);
                }
                @media screen and (max-width: 680px) {
                    grid-template-columns: repeat(1, 260px);
                }

                .case-one {
                    width: 260px;
                    height: 240px;
                    margin: 0 0 15px;

                    .case-one-in {
                        height: 240px;
                        border: none;

                        .case-info {
                            position: relative;
                            min-height: calc(100% - 130px);

                            .case-cat {

                                &.empty-cat {
                                    border: none;
                                }
                            }

                            .case-ttl {
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }

                            .case-name {
                                margin: 0;
                                position: absolute;
                                bottom: 5px;
                            }
                        }
                    }
                }
            }
        }
    }

    #case-modal {

        .form-modal-content {

            .form-modal-body {
                padding: 35px 0 0;

                .scroll-modal-body {
                    padding: 0 125px;

                    .case-file-upload {

                        .dropzone-wrapper {
                            max-width: 225px;
                            margin: auto;
                        }

                        .btn-file-upload {
                            width: auto;
                        }
                    }

                    .case-photo-content {
                        
                        .company-profile-img-list {
                            margin: 10px 0 0;
                            display: block;

                            .company-image--edit {
                                display: inline-block;
                                max-width: unset;
                                width: 140px;
                                height: 100px;
                                padding: 0;
                                margin: 0 10px 10px 0;

                                .over-hidden {
                                    img {
                                        width: 140px;
                                        height: 100px;
                                        object-fit: cover;
                                    }
                                }

                                .remove-btn {
                                    position: absolute;
                                    top: -15px;
                                    right: -6px;
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    #case-view-modal {

        .form-modal-content {

            .form-modal-body {
                padding: 0;

                .scroll-modal-body {
                    padding: 0 125px;

                    .view-img-panel {

                        img {
                            width: 140px;
                            height: 100px;
                            object-fit: cover;
                            border-radius: 5px;
                            margin: 0 10px 10px 0;
                        }
                    }

                    .col-6 {
                        padding-left: 15px;
                        padding-right: 15px;
                    }
                }
            }
        }
    }
}