
* {
	box-sizing:border-box;
	padding:0;
	margin:0;
}
body{
	font-family: "Noto Sans JP", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3","ヒラギノ角ゴ Pro W6", "メイリオ","Meiryo",Arial, sans-serif;
	background-color:#F2F5F9;
	color: #131340;
	font-size: 14px;
	line-height: 20px;
}
img{
	vertical-align: middle;
	margin:0;
	padding:0;
	border:0;
	max-width:100%;
}
.clearfix:before,
.clearfix:after{
	display: table;
  	content: " ";
}
.clearfix:after{
	clear: both;
}
table {
	width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}
td, th {
  padding: 0;
}
table {
  background-color: transparent;
}
table col[class*="col-"] {
  position: static;
  display: table-column;
  float: none;
}
table td[class*="col-"],
table th[class*="col-"] {
  position: static;
  display: table-cell;
  float: none;
}
ul li{
	list-style:none;
}
h1,h2,h3,h4,h5,h6,p{
	margin:0px;
}
input,select,textarea{
	min-height: 40px;
	padding: 3px 8px;
	border: 1px solid #C9D6DF;
	border-radius: 5px;
}
select, input{
	&:hover{
		border: 1px solid #8C9FAB;
	}
	&:focus{
		outline: none;
		border: 1px solid #5CA3F6;
	}
	&:active{
		outline: none;
		border: 1px solid #5CA3F6;
	}
}

textarea:focus,
textarea:active{
	border: 1px solid #5CA3F6;
	box-sizing: border-box;
	box-shadow: 0px 0px 8px rgba(92, 163, 246, 0.4);
	outline: none;
}
.form-group{
	input:focus,
	input:active,
	textarea:focus,
	textarea:active{
		border: 1px solid #5CA3F6 !important;
		box-sizing: border-box;
		box-shadow: 0px 0px 8px rgba(92, 163, 246, 0.4);
		outline: none;
	}
	.multiselect input{
		border: none !important;
		box-shadow: none !important;
	}
}
.valid-normal{
	border: 1px solid #5CA3F6 !important;
	box-sizing: border-box;
	box-shadow: 0px 0px 8px rgba(92, 163, 246, 0.4) !important;
	outline: none;
}
.form-group select {
	-webkit-appearance: none;
	background: url('/img/polygon.svg')no-repeat right #fff;
	background-position:
		calc(100% - 16px) calc(1em),
		calc(100% - 16px) calc(1em + 2px),
		100% 0;
	background-size: 10px 10px, 5px 5px, 2.5em 2.5em;
}
.form-group input, .form-group select, textarea{
	box-sizing: border-box;
	padding: 15px 15px;
	width: 100%;
	// border: 1px solid #8C9FAB;
	font-size: 18px;
	height: 50px;
	color: #131340;
	letter-spacing: 0.1em;
}
.multiselect__select:before{
	top: 62%;
	border-color: #C9D6DF transparent transparent;
	border-width: 8px 5px 0;
}
.fixedcontainer{
	width:1024px;
	margin:0 auto;
	padding:0px;
}
a{
  display: inline-block;
	color: inherit;
}
a:visited,
a:link,
a:hover,
a:active,
a:focus{
	outline:none;
	text-decoration:none;
}
// a:hover{
// 	opacity:0.8;
// 	transition:opacity 0.5s ease;
// }
button:focus {
	outline: none;
}

.red{
	color:#ed1c24;
}
.bkyellow{
	background-color:#fff100;
}
.bold{
	font-weight:bold;
}
.btline{
	text-decoration:underline;
}
.underline{
	text-decoration:underline;
}
.text-center{
	text-align:center;
}
.text-left{
	text-align:left;
}
.text-right{
	text-align:right;
}
.visible-sp{
	display:none;
}
.hidden-sp{
	display:block;
}
.visible-xs{
	display:none;
}
.hidden-xs{
	display:block;
}
.visible-500{
	display:none;
}
.hidden-500{
	display:block;
}
.flex{
  display:-webkit-flex;
  display:-webkit-box;
  display:-moz-flex;
  display:-moz-box;
  display:-ms-flexbox;
  display:flex;
  flex-direction:row;
  flex-wrap: nowrap;
}
.sidebar{
	width: 237px;
	position: fixed;
	left: 0;
	top: 0;
	height: 100vh;
	background: #FFFFFF;
	// box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	z-index: 200;
}
.logo{
	text-align: center;
	margin-top: 37px;
	margin-bottom: 61px;
}
.menu ul li a{
	display: flex;
	align-items: center;
	height: 50px;
	position: relative;
	margin: 0 10px;
	font-weight: bold;
	color: #5F6377;
	border-radius: 5px;
	i{
		font-size: 19px;
	}
	p{
		width: 18px;
		text-align: center;
		margin-left: 20px;
		margin-right: 40px;
		font-weight: 700;
	}
	span{
		font-size: 18px;
		font-weight: 700;
	}
}

.menu ul li a:hover{
	// color: #5CA3F6;
	background: #F5F5F5;
    margin: 0 10px;

	//background: linear-gradient(90deg, rgba(225, 225, 241, 0.5) 0%, rgba(196, 196, 196, 0) 100%);
}
.menu ul li a.active{
	color: #5CA3F6;
	background: #D3E7FF;
}
.menu ul li a svg path{
	stroke: #5F6377;
}

.menu ul li a.active svg path{
	stroke: #5CA3F6;
}
.menu ul li a.active:before, .menu ul li a:hover:before{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 40px;
	width: 0;
	// border-left: 5px solid #5CA3F6;
}
.main {
	margin-left: 237px;
}
.menu-overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, .3);
	z-index: 20;
}
.sidebar,
.main,
.header {
	transition: .4s all;
}
.container-fix {
	max-width: 1200px;
	.main {
		margin-left: 0;
	}
	.sidebar {
		position: fixed;
		transform: translateX(-237px);
	}
	.header {
		width: 100%;
		padding-left: 60px;
		padding-right: 30px;
	}
	.news-alert {
		margin-right: 35px;
	}
}
.sidebar-open {
	.menu-overlay {
		display: block;
	}
	.sidebar {
		transform: translateX(0);
	}
}
.header{
	position: fixed;
	top: 0;
	right: 0;
	width: calc(100% - 237px);
	height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 50px;
	background: #FFFFFF;
	// box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	z-index: 100;
}
.header-left{
	margin: 8px 0;
	// border: 2px solid #E1E1F1;
	box-sizing: border-box;
	border-radius: 5px;
	padding: 4px 50px 4px 13px;
	position: relative;
	background: #EFEFEF;
	input:-webkit-autofill,
	input:-webkit-autofill:hover,
	input:-webkit-autofill:focus,
	input:-webkit-autofill:active
	{
		-webkit-box-shadow: 0 0 0 30px #EFEFEF inset !important;
	}
	input::placeholder{
		color: #767676 !important;
	}
	input{
		border: none;
		width: 458px;
		outline: none;
		min-height: 30px;
		background: #EFEFEF;
	}
	// input:active, input:focus{
	// 	border: 2px solid #5CA3F6;
	// 	// box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
	// }
	button.b-colse{
		right: 34px;
		i{
			font-size: 22px;
		}
	}
	i{
		font-weight: 500;
	}
}
.focus_btn{
	color: #5CA3F6 !important;
}
.focus_border{
	border: 2px solid #5CA3F6;
}

.header-left button{
	position: absolute;
	right: 0;
	top: 0;
	border: none;
	width: 50px;
	text-align: center;
	height: 100%;
	outline: none;
	background-color: transparent;
	color: #767676;
	font-size: 16px;
}
.header-right{
	display: flex;
	align-items: center;
	position: relative;
}
.news-alert{
	margin-right: 25px;
	position: relative;
	cursor: pointer;
}

.user-info{
	display: flex;
	align-items: center;
	cursor: pointer;
}

.user-img{
	width: 24px;
	height: 24px;
	margin-right: 10px;
	border-radius: 50%;
	overflow: hidden;
}
.user-name{
	font-weight: 500;
	color: #414141;
	margin-right: 6px;
}
.main-in{
  padding: 30px;
  margin-top: 50px;
}
.main-content{
	background: #FFF;
	border-radius: 5px 5px 0px 0px;
	// padding: 30px 27px;
}
.main-dev-content{
	background: transparent !important;
}
.menu-content{
	padding: 30px 27px;
}
.btn{
	display: inline-block;
	min-width: 160px;
	padding: 10px 30px 10px 35px;
	font-size: 18px;
	letter-spacing: 0.1em;
	border-radius: 27px;
	border: none;
	outline: none;
	color: #fff;
}
.btn:hover{
	color: #fff;
}

.btn-primary{
  background: #5CA3F6;
  &.btn--reverse,
  &.btn--reverse:hover {
    color: #5CA3F6;
    background-color: #fff;
    border: 1px solid #5CA3F6;
  }
}

.btn-notify-primary{
	background: #F3F8FF;
	color: #5CA3F6;
}
.btn-notify-primary-enable{
	color: #fff;
	background-color: #5CA3F6;
}
.btn-notify-primary:hover{
	color: #fff;
	background-color: #5CA3F6;
	// border: 1px solid #5CA3F6;
}

.btn-notify-secondary{
	background-color: #E3E6E8;
	color: #000;
	font-weight: 500;
}
.btn-notify-secondary:hover{
	background-color:#E3E6E8;
	color: #000;
}

.btn-file-upload {
	background: #FFF;
	color: #5CA3F6;
	min-width: 100%;
	padding: 5px 10px;
    border: 1px solid #5CA3F6;
	font-size: 13px;
	margin-top: 25px;
	i {
		margin-right: 4px;
	}
}
.btn-file-upload:hover{
	color: #5CA3F6;
}
.btn-modal-footer{
	font-size: 24px;
	font-weight: normal;
	letter-spacing: 0.1em;
}
.avatar-wrapper .btn{
	font-size: 18px !important;
	width: 183px;
    margin-left: -11px;
}

.btn-danger{
	background-color: #FF3654;
}
.btn-danger:hover{
	background-color: #dc3545;
}
.btn-primary-2{
	min-width: 90px !important;
	border-radius: 4px !important;
	padding: 8px 20px;
}
.btn-secondary-2{
	min-width: 100px !important;
	border-radius: 4px !important;
	padding: 8px 20px;
	background-color: #B6B6B6;
}
.btn-secondary-2:hover{
	background-color:#6c757d;
}
.btn2{
	display: inline-block;
	min-width: 160px;
	line-height: 23px;
	padding: 10px 33px;
	font-size: 15px;
	border-radius: 27px;
	background: #fff;
	border: 1px solid #5CA3F6;
	color: #5CA3F6;
	outline: none;
}
.btn2:hover{
	box-shadow: 0px 2px 10px rgba(83, 167, 245, 0.5);
}
.btn-wrapper{
	text-align: center;
	margin-top: 50px;
}
.btn-payment-wrapper{
	display: flex;
	justify-content: space-around;
}
.btn-cancel{
	color: #000;
    font-weight: 500;
	font-size: 17px;
}
.btn-cancel:hover{
	color: #000;
}

.pagination-wrapper {
	text-align: center;
	.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 50px 0 0;
		border-radius: 4px;
		> li {
			display: inline-block;
			padding: 8px;
		}
		> li:not(.page-item){
			margin-right: 15px;
			margin-left: 15px;
			a:hover{
				font-weight: bold;
				i::before{
					font-weight: bold !important;
				}
			}
		}
	}
	.pagination > li > a,
	.pagination > li > span {
		border: none;
		color: #8D909E;
		font-size: 18px;
    	font-weight: 500;
	}
	.pagination > .active > a,
	.pagination > .active > a:focus,
	.pagination > .active > a:hover,
	.pagination > .active > span,
	.pagination > .active > span:focus,
	.pagination > .active > span:hover {
		background: none;
		color: #5CA3F6;
	}
}
.page-link{
	border-radius: 50%;
	background-color: transparent;
	padding: 0.3rem 0.65rem;
}
.page-link:hover	{
	background-color: #D9D9D9;
}
.page-link:focus{
	box-shadow:none;
}
.page-item.active .page-link{
	color: #fff !important;
    background-color: #5CA3F6 !important;
	border: none;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
	border:none;
	color: #131340;
	font-weight: 800;
}
.nav-tabs>li>a{
	padding: 10px 0;
	position: relative;
	cursor: pointer;
}
.nav-tabs>li>a>span{
	display: flex;
	position: absolute;
	width: 21px;
	height: 21px;
	align-items: center;
	justify-content: center;
	font-size: 12px;
	font-weight: bold;
	border-radius: 50%;
	top: -3px;
	right: -21px;
}
.rsv-status__not_supported{
	background-color: #FFCECE;
	color: #F65C5C;
}
.rsv-status__missed_call{
	background-color: #FFDEBF;
	color: #E0953D;
}
.rsv-status__in_progress{
	background-color: #CBFFE4;
	color: #3E9969;
}
.rsv-status__approved {
	background-color: rgba(191, 227, 255, 0.5);
	color:#3D99E0;
}
.nav-tabs>li{
	position: relative;
	margin-right: 50px;
}
.nav-tabs>li.active:after{
	position: absolute;
	content: '';
	width: 100%;
	height: 4px;
	border-radius: 2px;
	background: #5CA3F6;
	bottom: -2px;
	left: 0;
}
.nav-tabs{
	font-weight: 500;
	border-bottom: 2px solid #E1E9F1;
}
.tab-content{
	margin-top: 10px;
}

.task-list {
	th {
		padding: 8px 0;
		font-weight: normal;
		text-align: center;
		color: #757296;

		&:nth-child(4){
			min-width: 160px;
		}
	}
	td {
		padding: 8px 0;
		font-weight: normal;
		text-align: center;
	}
	thead{
		tr{
			&:hover{
				background-color: white;
				cursor: default;
			}
		}
	}
	tr {
		border-bottom: 1px solid #E1E9F1;

		&:hover {
			background: rgba(162, 162, 162, 0.3);
			cursor: pointer;
		}
		td {

			&:nth-child(6) img{
				margin-top: -3px;
				margin-right: 10px;
			}
		}
	}
}
.history-list{
	&:hover{
		background-color: white !important;
		cursor: default !important;
	}
}
.normal-btn {
	display: inline-block;
	background: #fff;
	padding: 5px 17px;
	border: 1px solid #5CA3F6;
	box-sizing: border-box;
	border-radius: 4px;
	color: #5CA3F6;
	outline: none;
	cursor: pointer;
}
// .custom-modal-style .modal-dialog{
// 	width: 800px;
// 	max-width: 800px;
// 	margin-top: 100px;
// }
//  .custom-modal-style .modal-content{
// 	border-radius: 20px;
// 	overflow: hidden;
// }
//  .custom-modal-style .modal-header{
// 	background: #5CA3F6;
// 	padding: 15px 0;
// 	text-align: center;
// 	position: relative;
// 	justify-content: center;
// }
//  .custom-modal-style .modal-title{
// 	font-size: 18px;
// 	color: #fff;
// }
// .custom-modal-style .modal-header .close{
//  	position: absolute;
//  	top: 20px;
//  	right: 25px;
//  	color: #fff;
//  	opacity: 1;
// }
// .custom-modal-style .modal-body {
// 	max-height: 540px;
// 	padding: 38px 35px;
// 	overflow: auto;
// }
.reserve-content>ul>li{
	margin-bottom: 15px;
	display: flex;
	font-size: 16px;
}
.reserve-content>ul>li>div:first-child{
	width: 140px;
	font-weight: bold;
	// padding-top: 26px;
	align-items: center;
}
.reserve-content>ul>li>div:last-child{
	width: 100%;
}
.reserve-content>ul>li>div:last-child>div{
	display: inline-block;
	margin-bottom: 20px;
	vertical-align: top;
}

.reserve-content>ul>li>div:last-child>div.half{
	width: 60px;
}
.reserve-content>ul>li>div:last-child>div.half select{
	width: 60px;
}
.reserve-content>ul>li>div:last-child>div.full{
	width: 350px;
}
.reserve-content>ul>li>div:last-child>div>span{
	height: 20px;
	font-size: 14px;
	line-height: 20px;
	color: #757296;
	display: block;
	margin-bottom: 5px;
}
.reserve-content>ul>li>div:last-child>div>select{
	width: 100%;
}
.reserve-content>ul>li>div:last-child>div>input{
	width: 100%;
	height: 28px;
}
.reserve-content>ul>li>div:last-child>div.birth>select{
	width: 80px;
}
.reserve-content2 {
	> div {
		&:first-child {
			margin-bottom: 18px;

			> div {
				display: inline-block;
				font-weight: 500;

				&:first-child{
					margin-right: 38px;
					font-size: 22px;
				}

				&:last-child{
					font-size: 18px;
				}

				> span {
					display: block;
					margin-bottom: 4px;
					font-size: 24px;
					font-weight: bold;
					letter-spacing: 0.1em;
				}
			}
		}

		&:nth-child(2){
			margin-bottom: 26px;

			> div {
				display: inline-block;
				margin-right: 50px;
				font-size: 16px;

				> span {
					font-size: 14px;
					margin-bottom: 4px;
					color: #757296;
					display: block;
				}
			}
		}

		&:nth-child(3){
			font-size: 16px;
			margin-bottom: 18px;
		}

		&:nth-child(4){
			font-size: 13px;
			display: flex;

			span {
				display: block;
				color: #757296;
				margin-bottom: 5px;
				white-space: nowrap;
			}

			input{
				min-width: 160px;
				max-width: 190px;
				height: 28px;
			}
		}

		&:nth-child(5){
			display: flex;
			font-size: 13px;
			margin-top: 10px;
			margin-bottom: 40px;

			span {
				display: block;
				color: #757296;
			}

			input {
				width: 140px;
				height: 28px;
			}

			> div {
				&:first-child{
					width: 179px;
				}
			}
		}
	}
}

.payment-result{
	background: none;
	border: none;
}

.reserve-content {
	.rsv-main-content {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -10px;
		> div {
			flex: 40%;
			max-width: 40%;
			padding: 0 10px;

			&:nth-child(3){
				flex: 20%;
				max-width: 20%;
			}

			&.half {
				display: flex !important;
				justify-content: space-between;
				> div {
					flex: 49%;
					max-width: 49%;
					span {
						height: 20px;
						font-size: 14px;
						line-height: 20px;
						color: #757296;
						display: block;
						margin-bottom: 5px;
					}
				}
			}
		}
	}
	.rsv-main-content2 {
		display: flex;
		justify-content: space-between;
		margin: 0 -10px;
		> div {
			flex: 50%;
			max-width: 45%;
			padding: 0 10px;
			&.half {
				display: flex !important;
				justify-content: space-between;
				> div {
					flex: 49%;
					max-width: 49%;
					span {
						height: 20px;
						font-size: 14px;
						line-height: 20px;
						color: #757296;
						display: block;
						margin-bottom: 5px;
					}
				}
			}
		}
		input{
			width: 100%;
			height: 50px;
			border-radius: 5px !important;
			border: 1px solid #C9D6DF !important;
			outline: none;
			&:hover{
				border: 1px solid #8C9FAB !important;
			}
			&:focus{
				border: 1px solid #5CA3F6 !important ;
			}
		}
    .is-invalid {
      // padding-right: 0 !important;
      input {
        border: 1px solid red !important;
      }
      .selected {
        border: 1px solid red !important;
      }
    }
		select{
			-webkit-appearance: none;
    		background: url(/img/polygon.svg) no-repeat right #fff;
    		background-position: calc(100% - 10px) 1em, calc(100% - 16px) calc(1em + 2px), 100% 0;
    		// background-size: 11px 10px, 3px 1px, 2.5em 2.5em;
		}
	}
}

.time-picker-content{
	>.vue__time-picker{
		width: 100%;
		height: 50px !important;
		> input.display-time{
			width: 100% !important;
			outline: none !important;
		}
	}
	.clear-btn{
		padding-top: 5px !important;
	}
	>.vue__time-picker .controls .char{
		font-size: 20px !important;
	}
	>.is-invalid input{
		border-color: red !important;
	}
}

#tab-content1 {
	tbody{
		tr {
			height: 66px;
		}
	}
}

.vue__time-picker {
	input {
		&.display-time {
			border: 1px solid #C9D6DF !important;
			padding: 3px 8px !important;
		}

		&:focus-visible {
			border: 1px solid #5CA3F6 !important;

		}

		&:hover {
			border: 1px solid #8C9FAB !important;
		}
		&.display-time{
			height: 50px !important;
		}
	}

	.dropdown{
		width: 100% !important;
		outline: none !important;
		border-radius: 5px !important;
		top: 50px !important;
		>.select-list{
			width: 100% !important;
		}
		ul{
			.active{
				background: #F2F5F9 !important;
				color: #131340 !important;
			}
			li{
				color: #131340 !important;
			}
		}
	}
	.controls>*{
		color: #C9D6DF !important;
	}
}
.chat{
	background-color: #fff;
	border-radius: 20px 20px 0 0;
	display: flex;
	height: calc(100vh - 110px);
}
.chat-user{
	width: 256px;
	padding: 16px 26px;
	border-left: 1px solid #E1E1F1;
	font-size: 12px;
}
.chat-content{
	width: calc(100% - 257px);
}
.chat-user-img{
	text-align: center;

	img{
		width: 100px;
	}
}
.chat-user-name{
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	margin-top: 5px;
	line-height: 26px;
	margin-bottom: 10px;
}
.chat-user-profile>ul>li{
	margin-bottom: 16px;
}
.chat-user-profile>ul>li>p{
	margin-bottom: 4px;
}
.chat-user-profile>ul>li>p>span,.chat-user-profile>ul>li>p.hiragana{
	font-size: 12px;
}
.chat-user-profile>ul>li>p>span{
	color: #728396;
}
.chat-user-profile{
	height: calc(100% - 200px);
	overflow: auto;
}
.item-center {
	text-align: center;
	margin-top: 15px;
	.btn{
		font-size: 14px;
		padding: 5px 25px;
		width: 175px;
		margin-top: 20px;
	}
	.btn-chat-confirm{
		font-size: 14px;
		padding: 5px 25px;
		background: #5CA3F6;
		width: 175px;
	}
}
.chat-content{
	height: 100%;
}
.chat-main--wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: calc(100% - 175px);
	.chat-main {
		padding: 0 34px 10px;
		margin-top: 40px;
		font-size: 13px;
		overflow: auto;
	}
}
.chat-input{
	// border-top: 1px solid #E1E1F1;
	padding: 5px 15px;
}
.chat-input button{
	border: none;
	padding: 5px 30px;
	float: right;
	background: #5CA3F6;
	border-radius: 3px;
	color: #FFFFFF;
	font-size: 16px;
}
.chat-input .more-add-image-clicker{
	padding-left: 10px;
}
.chat-input textarea{
	border:none;
	outline: none;
	font-size: 13px;
	line-height: 19px;
	width: 100%;
	resize: none;
	background-color: #F5F5F5;
	height: 116px;
}
.chat-date{
	text-align: center;
	color: #728396;
	// font-weight: bold;
}
.chat-main>div{
	margin-bottom: 34px;
}
.chat-main .other{
	display: flex;
}
.chat-main .other>div>div>p{
	position: relative;
	padding: 10px;
	border-radius: 5px 5px 5px 0px;
	background: #F1F2F6;
}
.chat-main .other>div>div:first-child>p{
	border-bottom-left-radius: 0;
}
.chat-main .other>div>div:first-child>p.first{
	border-top-left-radius: 0;
	border-bottom-left-radius: 30px;
}
.chat-main>div>div>div>p{
	display: inline-block;
	max-width: 550px;
	margin-bottom: 5px;
}
.chat-main>div>div>div:last-child>p{
	margin-bottom: 0;
}
.chat-main .me{
	display: flex;
	justify-content: flex-end;
}
.chat-main .me>div>div{
	text-align: right;
}
.chat-main .me>div>div>p{
	position: relative;
	text-align: left;
	padding: 10px;
	border-radius: 5px 5px 0 5px;
	background: #5CA3F6;
	color: #fff;
}
.chat-main .me>div>div:first-child>p{
	border-bottom-right-radius: 0;
}

.vue__time-picker .controls{
	&.char{
		font-size: 2em;
		-webkit-margin-before: 0.8em;
	}
	& img{
		max-width: 10px;
		width: 10px !important;
	}
}

.date-pick{
	display: flex;
	align-items: center;
	position: relative;
	padding-bottom: 18px;
	border-bottom: 2px solid #E1E9F1;

	.price{
		position: absolute;
		right: 0;
	}

	button{
		width: 24px;
		height: 24px;
		font-weight: bold;
		background: transparent;
		padding: 0 9px;
		border-radius: 16px;
		border:none;
		outline: none;

		&:hover{
			background-color: #E1E1F1;
		}
	}

	> p {
		display: flex;
		align-items: center;

		input{
			width: 165px;
			margin: 0 10px;
			border: 1px solid #C9D6DF;
			border-radius: 48px;
			padding: 0 10px;

			&:focus {
				outline: none;
			}
		}

		span{
			border: 1px solid #C9D6DF;
			border-radius: 48px;
			padding: 1px 10px;
		}
	}
}

.payment{
	display: flex;
	justify-content: space-between;
}
.payment-ttl{
	margin-bottom: 16px;
}
.payment-calc{
	display: flex;
}
.payment-calc div{
	min-width: 80px;
	font-size: 18px;
}
.payment-calc div span{
	font-size: 14px;
	color: #757296;
	display: block;
	margin-bottom: 4px;
}
.payment>div:first-child{
	margin-right: 20px;
	display: flex;
	font-size: 20px;
}
.payment > div:first-child > div:first-child{
	margin-right: 50px;
}
.refund-calc > strong{
	color: red;
}
.payment-div>div>span{
	min-width: 80px;
	display: inline-block;
}
.payment-div>div>span:last-child{
	margin-left: 20px;
}
.payment-list th, .payment-list td{
	padding: 16px 0;
}
.payment-list td{
	font-size: 18px;
}
.payment-list td a{
	text-decoration: underline;
	color: #5CA3F6;
}

.u-number{
	position: relative;
}
.u-edit-btn{
	position: absolute;
	top: 0;
	right: 0;
}
.u-content small{
	font-size: 14px;
	color: #757296;
	margin-bottom: 4px;
}
.u-content .u-name{
	font-size: 22px;
}
.u-content .u-name span{
	font-size: 13px;
	display: block;
	margin-bottom: 4px;
}
.u-info{
	font-size: 18px;
	display: flex;
	margin-bottom: 20px;
}
.u-info>div{
	margin-right: 20px;
}
.u-textarea>div{
	border: 2px solid #E1E1F1;
	border-radius: 5px;
	min-height: 217px;
	padding: 12px;
}
.u-textarea>textarea{
	border: 2px solid #E1E1F1;
	border-radius: 5px;
	min-height: 217px;
	padding: 12px;
	width: 100%;
}
.u-textarea>span{
	display: block;
	font-size: 14px;
	color: #757296;
	margin-bottom: 4px;
}
.u-textarea{
	margin-bottom: 20px;
}
.u-history{
	margin-top: 30px;
}
.u-name-edit.u-info input{
	font-size: 16px;
	width: 135px;
}
.u-info-edit.u-info select{
	width: 84px;
	font-size: 14px;
}
.u-info-edit.u-info input{
	font-size: 14px;
	// width: 100px;
}
.u-edit-btn-wrapper{
	margin-top: 40px;
}
.u-history .task-list tbody tr:last-child{
	border-bottom: none;
}

.staff-content{
	padding: 25px 62px;
	background: #fff;
	border-radius: 10px;
}
.staff-header{
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
	border-bottom: 1px solid #E1E9F1;
}
.staff-header p{
	margin-bottom: -2px;
}
.staff-doctor-header{
	margin-top: 30px;
}
.staff-sort{
	border: 1px solid #5CA3F6;
	border-radius: 20px;
	padding: 0px 10px;
	font-size: 12px;
	color: #5CA3F6;
}
.menu-sort{
	font-size: 16px;
	letter-spacing: 0.1em;
	color: #8D909E;
  	line-height: 28px;
	padding: 5px 10px;
}
.btn3{
	padding: 5px 10px;
	border-radius: 5px;
	background: #5CA3F6;
	color: #fff;
	font-size: 12px;
	outline: none;
	border: none;
	line-height: 17px;
}
.staff-list{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}
.staff-one{
	display: block;
	width: 18%;
	margin-right: 2.5%;
	background: #FFFFFF;
	border: 1px solid #EEEEEE;
	box-sizing: border-box;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	text-align: center;
	cursor: pointer;
}
.staff-one>div.photo-item{
	padding: 24px 22% 0;
}
.staff-one>div.job-item{
	padding: 25px 5px 20px;
}
.staff-one:hover{
	// box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.1);
	background: #E6E6E6;
	border: 1px solid #E6E6E6;
}
.staff-one:nth-child(5n){
	margin-right: 0;
}
.staff-job{
	color: #5CA3F6;
	font-size: 16px;
	line-height: 23px;
	margin-bottom: 8px;
}
.staff-img,
.stuff-detail--img-in {
	position: relative;
	padding-top: 100%;
	img{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-radius: 50%;
		object-fit: cover;
	}
}
.photo-svg-item{
	padding: 35px 50px 0;
	position: relative;
	svg{
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-radius: 50%;
		object-fit: cover;
	}
}
.stuff-detail--img-in img {
	border-radius: 50%;
}
.staff-hira{
	font-size: 24px;
    line-height: 17.5px;
	letter-spacing: 0.1em;
	color: #131340;
}
.staff-name{
  font-size: 16px;
  line-height: 17.5px;
  letter-spacing: 0.1em;
  margin-top: 14px;
  margin-bottom: 14px;
  color: #5CA3F6;
}
.stuff-detail-content{
	display: flex;
}
.img-upload.btn2{
	font-size: 10px;
	min-width: 120px;
	padding: 0;
	margin-top: 16px;
	outline: none;
	img {
		vertical-align: text-top;
	}
}
.stuff-detail--img{
	flex: 165px;
	max-width: 165px;
	flex-shrink: 0;
	margin-right: 20px;
}
.stuff-detail--info > div{
	margin-bottom: 15px;
	display: flex;
}
.stuff-detail--info>div>div{
	width: 170px;
	margin-right: 15px;
	&:last-child {
		margin-right: 0;
	}
}
.stuff-detail--info>div.full>div{
	width: 100%;
}
.stuff-detail--info input, .stuff-detail--info select{
	width: 100%;
	height: 28px;
}
.stuff-detail--info textarea{
	display: block;
	width: 100%;
	// height: 110px;
}
.stuff-detail--info span{
	color: #757296;
	display: block;
	height: 20px;
	margin-bottom: 4px;
}
.stuff-detail--info-edit{
	text-align: left;
	font-size: 16px;
}
.stuff-detail--info-edit>div{
	margin-bottom: 10px;
}
.stuff-detail--info-edit>div.create-staff-txt{
	margin: 30px 0;
}
.stuff-detail--info-edit span{
	font-size: 14px;
	color: #728396;
	display: block;
}
.img_plus{
	vertical-align: initial;
	margin-right: 5px;
}

.create-staff-txt div {
	font-size: 14px;
	overflow: auto;
	white-space: pre-wrap;
}
.create-staff-flex{
	display: flex;
}
.create-staff-flex>div{
	width: 120px;
}
.create-staff-name span{
	font-size: 12px;
}
.create-staff-modal{
	text-align: left;
}
.company-img {
	max-width: 150px;
}
.edit-close {
	.company-img {
		img {
			width: 150px;
			height: 150px;
			object-fit: cover;
			overflow: hidden;
			border-radius: 50%;
		}
	}
}
.company-content {
	padding: 0 18px;
	span{
		font-size: 16px;
		line-height: 26px;
		color: #757296;
		display: block;
	}
	p{
		font-size: 18px;
		color: #131340;
		margin-bottom: 40px;
	}

}
.company-name{
	width: 48%;
	margin: 20px 0 14px;
}

.company-info{
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 16px;
	margin-top: 40px;

	> div {

		&:nth-child(2n){
			margin-right: 0;
		}
	}

	input{
		width: 100%;
	}
}
.work-time{
	display: flex;
	p{
		margin-bottom: 20px;
		margin-right: 25px;
		color:#000000;
	}
}

// .company-info>div{
// 	width: 48%;
// 	margin-right: 4%;
// 	margin-bottom: 14px;
// }
.company-profile-imgs>div{
	display: flex;
}
.company-profile-imgs>div>p{
	width: 18%;
	position: relative;
	margin-right: 2.5%;
}
.company-profile-imgs>div>p>img{
	width: 100%;
}
.company-profile-imgs>div>p:nth-child(5n){
	margin-right: 0;
}
.company-about{
	margin: 30px 0 50px;
}
.company-ttl p{
	// width: 510px;
	// border: 1px solid #DEE2E8;
	// box-sizing: border-box;
	// border-radius: 5px;
	// padding: 5px;
	// height: 28px;
}
.company-ttl{
	margin-bottom: 20px;
	input{
		width: 48%;
	}
}
.company-txt p{
	// border: 1px solid #DEE2E8;
	// box-sizing: border-box;
	// border-radius: 5px;
	// padding: 5px;
	// min-height: 192px;
}
.company-name input{
	width: 100%;
}
.company-txt textarea{
	width: 100%;
	height: 192px;
}
.staff-header>p>a{
	display: inline-block;
	margin-right: 20px;
	padding-bottom: 10px;
	position: relative;
	font-size: 18px;
	color: #8D909E;
	line-height: 31.5px;
	letter-spacing: 0.1em;
	font-weight: 700;
}
.staff-header>p>a.active{
	font-weight: bold;
	color: #131340;
}
.staff-header>p>a.active:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 4px;
	background: #5CA3F6;
	border-radius: 2px;
	left: 0;
	bottom: 0;
}
.menu-list{
	display: flex;
	flex-wrap: wrap;
}
.menu-one{
	// width: 48%;
	// margin-right: 4%;
	padding-right: 8px;
    padding-left: 8px;
	margin-bottom: 16px;
	cursor: pointer;
}
.menu-one:nth-child(2n){
	margin-right: 0;
}
.menu-one-in{
	background: #FFFFFF;
	// border: 1px solid #FFFFFF;
	box-sizing: border-box;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	overflow: hidden;
	display: flex;
}
.menu-one:hover>div{
	// box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.1);
	background: #E6E6E6;
	// border: 1px solid #E6E6E6;
}
.menu-one:hover img{
    filter: opacity(0.5) !important;
}
.menu-img img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	-o-object-fit: cover;
}
div.menu-img{
	width: 155px;
	// height: 125px;
	height: auto;
    // background: #BFBFBF;
    // background: #FFFFFF;
	// border-right: 1px solid #c4c4c4;
}
.menu-info{
	width: calc(100% - 138px);
	padding: 11px 16px 9px 10px;
}
.menu-cat{
	border: 1px solid #5CA3F6;
	box-sizing: border-box;
	border-radius: 20px;
	padding: 1px 10px;
	font-size: 10px;
	line-height: 14px;
	color: #5CA3F6;
	display: inline-block;
	margin-right: 4px;
}
.menu-ttl{
	display: block;
	height: 49px;
	white-space: normal;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 18px;
	font-weight: normal;
	line-height: 26px;
	margin: 8px 0 8px;
	word-wrap: break-word;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	color: #131340;
}
.menu-price{
	font-size: 20px;
	line-height: 29px;
	letter-spacing: 0.1em;
	color: #131340;
	text-align: right;
}
.menu-price-unit{
	font-size: 14px;
	letter-spacing: 0.1em;
	color: #131340;
}


span.switcher {
  position: relative;
  width: 200px;
  height: 50px;
  border-radius: 25px;
  margin: 20px 0;
}
span.switcher input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  width: 126px;
  height: 24px;
  border-radius: 14px;
  background-color: #5CA3F6;
  outline: none;
  margin: 0;
}
span.switcher input:before, span.switcher input:after {
  z-index: 2;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #FFFFFF;
}
span.switcher input:before {
  content: '掲載';
  left: 3px;
  background: #5CA3F6;
  padding: 3px 10px;
  font-size: 10px;
  border-radius: 15px;
  color: #fff;
}
span.switcher input:after {
  content: '掲載終了';
  right: 3px;
  padding: 3px 10px;
  border-radius: 15px;
  background-color: #fff;
  font-size: 10px;
}
span.switcher label {
  z-index: 1;
  position: absolute;
  top: 10px;
  bottom: 10px;
  border-radius: 20px;
}
span.switcher.switcher-1 input {
  -webkit-transition: .25s -.1s;
  transition: .25s -.1s;
}
span.switcher.switcher-1 input:checked {
  background-color: #FFFFFF;
}
span.switcher.switcher-1 input:checked:before {
  color: #FFFFFF;
  -webkit-transition: color .5s .2s;
  transition: color .5s .2s;
}
span.switcher.switcher-1 input:checked:after {
  color: #CCCCCC;
  -webkit-transition: color .5s;
  transition: color .5s;
}
span.switcher.switcher-1 input:checked + label {
  left: 10px;
  right: 100px;
  background: #5CA3F6;
  -webkit-transition: left .5s, right .4s .2s;
  transition: left .5s, right .4s .2s;
}
span.switcher.switcher-1 input:not(:checked) {
  background: #5CA3F6;
  -webkit-transition: background .5s -.1s;
  transition: background .5s -.1s;
}
span.switcher.switcher-1 input:not(:checked):before {
  color: #fff;
  -webkit-transition: color .5s;
  transition: color .5s;
}
span.switcher.switcher-1 input:not(:checked):after {
  color: #1E1E1E;
  -webkit-transition: color .5s .2s;
  transition: color .5s .2s;
}
span.switcher.switcher-1 input:not(:checked) + label {
  left: 100px;
  right: 10px;
  background: #FFFFFF;
  -webkit-transition: left .4s .2s, right .5s, background .35s -.1s;
  transition: left .4s .2s, right .5s, background .35s -.1s;
}

.create-menu-header{
	display: flex;
	margin-bottom: 15px;
}
.create-menu-content small{
	font-size: 16px;
	display: block;
	letter-spacing: 0.1em;
	margin-bottom: 5px;
	color: #5F6377;
}
.create-menu-content .col-9, .create-menu-content .col-3{
	padding-left: 40px;
	padding-right: 5px;
}
.create-menu-flow>div>div{
	margin-bottom: 5px;
}
.create-menu-flow-increase {
	text-align: center;
}
.create-menu-flow-increase>img{
	width: 25px;
	margin-bottom: 5px;
}
.create-menu-flow-title{
	margin-right: 0 !important;
	margin-left: 0 !important;
	div {
		padding: 0px;
		margin-bottom: 5px;
	}
}
.create-menu-flow-index{
	width: 22px;
    height: 22px;
	line-height: 20px;
    text-align: center;
    border: 1px solid;
    border-radius: 50%;
    position: absolute;
	margin-top: 10px;
}
.result-menu-flow{
	justify-content: space-between;
}
.result-menu-flow small{
	color: #131340;
}
.result-menu-flow span{
	color: #5F6377;
}
.result-menu-flow>div>div>p{
	margin-left: 40px;
	margin-top: 10px;
}
.result-menu-flow .create-menu-flow-index{
	margin-top: 5px;
}
.create-menu-header>div:first-child input{
	width: 522px;
	// height: 43px;
}
.create-menu-header>div:first-child{
	margin-right: 43px;
}
.create-menu-info{
	display: flex;
	margin-bottom: 15px;
}
.create-menu-info>div{
	width: 163px;
	margin-right: 18px;
}
.create-menu-info>div>select, .create-menu-info>div>input{
	width: 100%;
}
.create-menu-desc,
.create-menu-risk {
	margin-bottom: 35px;
	textarea {
		width: 100%;
	}
}

.create-menu-gurantee {
	margin-bottom: 35px;
	textarea {
		width: 100%;
	}
}
.create-menu-detail{
	display: flex;
	// margin-bottom: 40px;
}
.create-menu-detail-img{
	width: 165px;
	text-align: center;
	margin-right: 25px;
}
.create-menu-detail-in{
	width: calc(100% - 175px);
}
.create-menu-detail-in>div{
	display: flex;
	margin-bottom: 10px;
}
.create-menu-detail-in>div:last-child{
	margin-bottom: 0;
}
.create-menu-detail-in>div>div{
	width: 120px;
	margin-right: 14px;
}
.create-menu-detail-in>div>div>select{
	width: 100%;
}
.create-menu-detail-in>div>div:last-child{
	margin-right: 0;
}


.case-list{
	display: flex;
	flex-wrap: wrap;
}
.case-one{
	width: 23.5%;
	margin-right: 2%;
	margin-bottom: 16px;
	cursor: pointer;
}
.case-one:nth-child(4n){
	margin-right: 0;
}
.case-one-in{
	background: #FFFFFF;
	border: 1px solid #FFFFFF;
	box-sizing: border-box;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	overflow: hidden;
}
.case-one:hover>div{
	// box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.1);
	background: #E6E6E6;
	border: 1px solid #E6E6E6;
	p.before, p.after{
		background: #D8D8D8;
	}
}
.case-cat{
	border: 1px solid #5CA3F6;
	box-sizing: border-box;
	border-radius: 20px;
	padding: 0 10px;
	font-size: 10px;
	line-height: 17.5px;
	color: #5CA3F6;
	display: inline-block;
	margin-right: 4px;
}
.case-ttl{
	font-size: 15px;
	line-height: 17.5px;
	letter-spacing: 0.1em;
	margin: 3px 0 8px;
	color: #131340;
}
.case-img{
	display: flex;
}
.case-img>p{
	position: relative;
	width: 50%;
	padding-top: 50%;
	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	&.before{
		background: #EFEFEF;
	}
	&.after{
		background: #EFEFEF;
	}
}
.case-img>p:first-child:after{
	position: absolute;
	content: 'before';
	bottom: 1px;
	left: 1px;
	font-size: 10px;
	line-height: 17.5px;
	color: #fff;
	padding: 2px 6px 1px;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 0 5px 0 0;
	text-align: center;
	letter-spacing: 0.05em;
	// width: 40px;
}
.case-img>p:last-child:after{
	position: absolute;
	content: 'after';
	bottom: 1px;
	left: 1px;
	font-size: 10px;
	line-height: 17.5px;
	color: #fff;
	padding: 2px 10px 1px;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 0 5px 0 0;
	text-align: center;
	letter-spacing: 0.05em;
	// width: 40px;
}
.case-img>p>img{
	width: 100%;
}
.case-info{
	padding: 5px 8px;
}
.case-name{
	font-size: 12px;
	line-height: 17.5px;
	color: #8D909E;
	letter-spacing: 0.1em;
	margin-top: 30px;
	text-align: justify;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.create-case-header{
	display: flex;
}
.create-case-info{
	width: 400px;
	margin-right: 34px;
}
.create-case-imgs{
	width: calc(100% - 434px);
	display: flex;
	justify-content: space-between;
}
.create-case-imgs>div{
	width: 138px;
	text-align: center;
}
.create-case-content small{
	display: block;
	font-size: 16px;
	line-height: 17.5px;
	color: #5F6377;
	letter-spacing: 0.1em;
	margin-bottom: 5px;
}
.create-case-info input, .create-case-info select{
	width: 100%;
}
.create-case-info>div{
	margin-bottom: 20px;
}
.create-case-text{
	margin-bottom: 20px;
}
.create-case-text>textarea{
	display: block;
	width: 100%;
	height: 140px;
}
.create-case-info .create-case-flex{
	display: flex;
	justify-content: space-between;
}
.create-case-info .create-case-flex>div{
	width: 196px;
}
.case-sub-content{
	padding: 30px 28px;
}

.news-alert{
	position: relative;
}
.news-alert-list{
	display: none;
}
.news-alert-list{
	width: 310px;
	height: 285px;
	overflow: auto;
	background: #FFFFFF;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	padding: 15px 20px;
	margin-top: 16px;
}
.news-alert-one{
	display: flex;
	padding: 8px 0;
	border-bottom: 1px solid #EFEFEF;
}
.news-alert-one>p:first-child{
	width: 36px;
	margin-right: 14px;
}
.news-alert-one>div>p{
	font-size: 12px;
}
.news-alert-one>div>span{
	font-size: 10px;
	color: #757296;
}
.user-info{
	position: relative;
}
.header-menu {
	width: 190px;
	background: #FFFFFF;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	padding: 0px;
	margin-top: 8px;
}
.header-menu a {
	display: block;
	padding: 12px 10px;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	position: relative;
	color: #131340;
}
.header-menu a:first-child{
	border-bottom: 1px solid #F3F3F3;
}
.header-menu a img{
	position: absolute;
	left: 2px;
	bottom: 10px;
}
.header-menu a:hover{
	background: #F5F5F5;
}

// 20年08月07日
.hamburger {
	display: none;
	position: absolute;
	align-items: center;
	top: 24px;
	left: 22px;
	width: 22px;
	height: 26px;
	cursor: pointer;
	z-index: 1;
}
.hamburger > span,
.hamburger > span::before,
.hamburger > span::after {
  display: block;
  position: absolute;

  width: 100%;
  height: 2px;

  background-color: #616161;

  transition-duration: .25s;
}
.hamburger > span::before {
  content: '';
  top: -8px;
}
.hamburger > span::after {
  content: '';
  top: 8px;
}
.container-fix .hamburger {
	display: block;
}
.sidebar-menu-list {
	> li {
		margin-bottom: 0px;
	}
}
.swal2-icon.swal2-warning::before {
	display: none;
}
.swal2-title {
	font-size: 24px !important;
}
.select-current-date-btn {
	display: inline-block;
	width: 50px;
	text-align: center;
	line-height: 30px;
	padding: 0 5px !important;
	margin: 0 10px 0 0;
	cursor: pointer;
}
.rsv-summary-content {
	margin-bottom: 40px;
	> div {
		margin-bottom: 14px;
	}
}
.treat-calc--wrapper {
	margin-bottom: 40px;
	> div {
		> div {
			display: inline-block;
			margin: auto;
			input[type=number] + span {
				margin-top: 12px;
			}
		}
	}
	> span {
		width: 40px;
		padding-top: 38px;
    flex-shrink: 0;
	}
}
.time-wrapper {
	input[type=time] {
		width: 105px;
	}
	> div {
		display: inline-block;
		max-width: 105px;
	}
	> span {
		vertical-align: top;
	}
}
.u-edit-btn--wrapper {
	position: absolute;
	display: flex;
	flex-direction: column;
	right: 0;
	top: 0;
	.u-edit-btn {
		position: static;
		display: inline-block;
		width: 170px;
		margin-bottom: 15px;
		padding-left: 0;
		padding-right: 0;
		&.u-edit-btn--reserve {
			color: #5CA3F6;
			background-color: #fff;
			border: 1px solid #5CA3F6;
		}
	}
}
.company-name {
	span + p {
		font-size: 18px;
	}
}
.company-profile-img-list {
	display: flex;
	flex-wrap: wrap;
	margin: -10px -15px;
	> div {
		flex: 20%;
		max-width: 20%;
		padding: 0px 6px;
		img{
			width: 100%;
			border-radius: 5px;
		}
	}
}
.over-hidden {
	overflow: hidden;
}
.stuff-spec-list {
	> label {
		margin-right: 20px;
	}
}
.add-stuff-btn {
	img {
		vertical-align: baseline;
	}
}
.bg-gray {
	background-color: #E5E5E5;
}
.bg-blue-gray {
	background-color: #F2F5F9;
}
.auth-wrapper {
	min-height: 100vh;
}
.login-wrapper{
	display: flex;
}
.mb-6{
	margin-bottom: 4rem !important;
}
.auth--wrapper {
	max-width: 780px;
	width: 90%;
	margin: auto;
	background-color: #fff;
	border-radius: 20px;

	.auth-form {
		max-width: 380px;
		padding: 70px 0;
		margin: auto;

		.auth-title {
			font-size: 24px;
			font-weight: 700;
			text-align: center;
			margin-bottom: 24px;
		}

		.auth-title-tip{
			font-size: 16px;
			color: #131340;
			font-weight: 500;
			line-height: 25px;
		}

		.auth-btn--wrapper {
			text-align: center;
			margin-top: 24px;
		}

		.form-group {
			margin-bottom: 12px;
		}

		.auth-forgot a{
			font-size: 12px;
			font-weight: 700;
			color: $auth-info-color;
		}

		label{
			color: $auth-info-color;
			font-size: 14px;
			font-weight: 500;
		}
		i{
			font-size: 16px;
			float: right;
			margin-top: -1.8rem !important;
			margin-right: 10px;
			cursor: pointer;
		}
	}

	.sent-btn-panel{
		display: flex;
		justify-content: center;
		margin-top: -1rem;
		margin-bottom: 3rem;
	}
}

input::placeholder, textarea::placeholder {
	color: rgba(19, 19, 64, 0.3) !important;
	font-size: 18px !important;
}

.col-form-label {
	padding-bottom: 5px;
}

.dropdown-btn{
	padding-right: 15px !important;
}
.noti-dropdown-btn {
	position: relative;

	&:after {
		display: none;
	}

	&.unread:before {
		content: '';
		position: absolute;
		width: 13px;
		height: 13px;
		right: -3px;
		top: -3px;
		background: #5CA3F6;
		border-radius: 50%;
	}
}
input.is-invalid,
textarea.is-invalid,
select.is-invalid {
	border-color: #dc3545;
}
input.is-valid,
textarea.is-valid,
select.is-valid,
input.is-login-valid {
	border-color: #13BD38;
}
i.i-text-invalid{
	position: absolute;
	color: #FF3654;
    right: 25px;
    top: 33px;
}
i.i-text-valid{
	position: absolute;
	color: #13BD38;
    right: 25px;
    top: 33px;
}
i.i-login-invalid{
	color: #FF3654;
	&.passwd-invalid{
		margin-right: 35px;
	}
}
i.i-login-valid{
	color: #13BD38;
	&.passwd-valid{
		margin-right: 35px;
	}
}
.create-menu-content textarea {
	display: block;
}
.create-menu-content, .create-case-content{
	& .form-group{
		margin-bottom: 35px;
	}
}
.modal-footer {
	justify-content: center;
}
.dropzone .dz-preview {
	margin: 0;
	.dz-remove {
		top: -5px;
		right: -5px;
		width: 12px;
		height: 12px;
		font-size: 0;
		padding: 0;
		margin: 0;
		border: none;
		&:before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: url('/img/img-x1.png') no-repeat center;
			background-size: cover;
		}
	}
}
.dz-progress {
	display: none;
}
.dz-processing {
	.dz-progress {
		display: block;
	}
}
.dz-details {
	display: none;
}
.dropzone-wrapper .dropzone-in > div div {
	margin-bottom: 12px;
}
.multi-files-uploader .dropzone-wrapper .dropzone-in > div div{
	// margin-top: 45px;
}
.chat-input .multi-files-uploader.dropzone{
	min-height: initial !important;
	height: 25px !important;
	width: 25px;
	position: absolute;
	background-color: #F5F5F5;
	bottom: 85px;
	display: none;
}
.multi-files-uploader.dropzone{
	min-height: 190px !important;
	&.vue-dropzone {
		border: none;
		padding: 0;
		min-height: auto;
	}
	&.dropzone .dz-message {
		margin: 0;
	}
	.dropzone-wrapper {
		position: relative;
		padding-top: 190px !important;
		background-color: #F4F4F4;
		border-radius: 8px;
		.dropzone-in {
			position: absolute;
			top: 5px;
			left: 5px;
			width: calc(100% - 10px);
			height: calc(100% - 10px);
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			// padding: 35px 0;
			background-color: #fff;
			border: 1px dashed #E5E5E5;
			border-radius: 8px;
			> div {
				div {
					margin-bottom: 12px;
				}
				p {
					margin-top: 32px;
					font-size: 12px;
					color: #999999;
				}
			}
		}
	}
}
// .sinlge-file-uploader{
.sinlge-file-uploader{
	text-align: center;
	&.vue-dropzone {
		border: none;
		padding: 0;
		min-height: auto;
	}
	&.dropzone .dz-message {
		margin: 0;
	}
	.dropzone-wrapper {
		position: relative;
		// padding: 5px;
		padding-top: 100%;
		background-color: #F4F4F4;
		border-radius: 8px;
		.dropzone-in {
			position: absolute;
			top: 5px;
			left: 5px;
			width: calc(100% - 10px);
			height: calc(100% - 10px);
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			// padding: 35px 0;
			background-color: #fff;
			border: 1px dashed #E5E5E5;
			border-radius: 8px;
			> div {
				div {
					margin-bottom: 12px;
				}
				p {
					margin-top: 32px;
					font-size: 12px;
					color: #999999;
				}
			}
		}
	}
	.dz-image-preview {
		width: 150px;
		margin: auto;
		.dz-image {
			width: 150px;
			height: 150px;
			border-radius: 50%;
			padding: 0;
			img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100% !important;
				height: 100% !important;
				object-fit: cover !important;
			}
		}
	}
}
.clinic{
	.btn-file-upload {
		padding: 5px 15px !important;
		min-width: 0px !important;
	}
	.vue-dropzone:hover{
		background-color: transparent !important;
	}
	.form-group{
		input{
			padding: 10px 15px;
		}
		select{
			padding: 6px 10px;
		}
	}
}
.clinic-time{
	display: flex;
	justify-content: space-between;
	align-items: center;
	span{
		margin: 0;
		color: #5F6377;
	}
	p{
		font-size: 18px;
		color: #000000;
	}
	> div{
		width: 28%;

		&.clinic-weekday_lbl {
			width: 10%;
			text-align: center;
			margin-top: 25px;
		}

		&:nth-child(2){
			margin-right: 10px;
		}
	}
}
.p-t-20{
	padding-top: 20px;
}
.multi-files-uploader {
	padding: 0 8px;
	.dz-image-preview {
		margin: 15px 8px;
	}
	.dz-message {
		width: 100%;
	}
}

.case-file-upload .multi-files-uploader,
.menu-file-upload .multi-files-uploader{
	.dz-message{
		display: block !important;
	}
	.dz-preview.dz-image-preview{
		display: none !important;
	}
}
.menu-file-upload, .case-file-upload{
	.btn-file-upload{
		width: 243px;
		min-width: 243px;
		font-size: 18px;
		letter-spacing: 0.1em;
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		justify-content: center;
		margin-left: auto;
		margin-right: auto;
		& span {
			display: inline-block;
			margin-left: 5px;
		}
	}
}

.swal2-popup.swal2-toast .swal2-title {
	font-size: 1em !important;
}
.req:after {
	content: '必須';
	margin-left: 4px;
	font-size: 10px;
	padding: 3px 6px;
	background: #f00;
	color: #fff;
	border-radius: 4px;
}
.source-info {
	img {
		margin-right: 6px;
	}
}
.invalid-feedback {
	font-size: 12px !important;
}
.clinic-memo {
	max-height: 200px;
	white-space: pre-line;
	overflow: auto;
}
.name-wrapper {
	> div {
		display: inline-block;
		max-width: 120px;
		&:first-child {
			margin-right: 5px;
		}
		> input {
			max-width: 100%;
		}
	}
}
.chat-main {
	.message {
		white-space: pre-line;
	}
	.message--file {
		position: relative;
	}
	.chat-time {
		color: #757296;
    display: block;
    position: absolute;
    bottom: 0;
	}
	.me {
		margin-bottom: 5px;
		.avatar {
			display: none;
		}
		// + .me {
		// 	.message {
		// 		border-bottom-right-radius: 30px;
		// 	}
		// }
		+ .other {
			margin-top: 34px;
		}
		.chat-time {
			left: -50px;
			font-size: 12px;
		}
	}
	.other {
		position: relative;
		padding-left: 65px;
		margin-bottom: 8px;
		.avatar {
			position: absolute;
			left: 0;
			top: 0;
		}
		+ .me {
			margin-top: 34px;
		}
		+ .other {
			.avatar {
				display: none;
			}
			// > div {
			// 	.message {
			// 		border-bottom-left-radius: 30px;
			// 	}
			// }
		}
		.chat-time {
			right: -50px;
			font-size: 12px;
		}
	}
}
.chat-date {
	margin: 34px 0;
	&:first-child {
		margin-top: 0;
	}
}
#attachment-dropzone {
	height: 0;
	min-height: 0;
	border: none;
	overflow: hidden;
	&.dz-started {
		height: 150px;
		border-top: 1px solid #E1E1F1;
	}
	&.vue-dropzone {
		.dz-preview .dz-image {
			width: 120px;
			height: 120px;
		}
	}
}
.companu-content--edit {
	.company-profile-img-list {
		margin-top: 20px;
		margin-bottom: 30px;
	}
	.company-image--edit {
		position: relative;
		max-width: 25%;
		height: 120px;
		display: flex;
		flex: auto;
		& > div{
			border-radius: 7%;
		}
		img{
			border-radius: 8px;
		}
		// .remove-btn {
		// 	display: inline-block;
		// 	position: absolute;
		// 	top: 6px;
    	// 	right: 2px;
		// 	width: 12px;
		// 	height: 12px;
		// 	cursor: pointer;
		// 	z-index: 10;
		// 	&:before {
		// 		content: '';
		// 		position: absolute;
		// 		left: 0;
		// 		top: 0;
		// 		width: 100%;
		// 		height: 100%;
		// 		background: url(/img/img-x1.png) no-repeat center;
		// 		background-size: cover;
		// 	}
		// 	&:hover + div img {
		// 		transform: scale(1.05, 1.05);
		// 		filter: blur(8px);
		// 	}
		// }
	}
}
.case-photo-content {
	// margin-top: 2rem !important;
	.company-profile-img-list {
		margin: 0px 0 10px -5px;
	}
	.company-image--edit {
		position: relative;
		max-width: 25%;
		height: 120px;
		display: flex;
		flex: auto;
		padding: 10px 5px;
		& > div{
			border-radius: 0;
			filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
		}
	}
}
.remove-btn {
	i{
		position: absolute;
		top: -5px;
		right: 7px;
		z-index: 10;
		cursor: pointer;
	}
	&:hover + div img {
		transform: scale(1.05, 1.05);
		filter: blur(8px);
	}
}
.bi-plus::before{
	font-size: 26px;
}
.clinic-info--address-block {
	display: flex;
	margin-bottom: 10px;
	span {
		margin: 0 8px;
	}
	i{
		margin-top: 15px;
	}
}
.multiselect {
	min-height: 32px;
	.multiselect__tags {
		min-height: 50px;
		padding-top: 4px;
		padding-bottom: 0;
		border: 1px solid #C9D6DF;
		.multiselect__tag {
			margin-bottom: 0;
			background-color: #E2F0FF;
			color: #5CA3F6;
			border-radius: 5px;
			margin-top: 3px;
			padding: 6px 26px 4px 10px;
		}
		&:hover{
			border: 1px solid #8C9FAB;
		}
		&:focus{
			outline: none;
			border: 1px solid #5CA3F6;
		}
		&:active{
			outline: none;
			border: 1px solid #5CA3F6;
		}
		&:focus-within{
			border: 1px solid #5CA3F6;
		}
	}
	.multiselect__option {
    padding: 0px 12px;
    min-height: 30px;
    font-size: 14px;
		line-height: 30px;
	}
	.multiselect__option--highlight {
		background: #5CA3F6;
	}
	.multiselect__tag-icon{
		top: 1px;
	}
	.multiselect__tag-icon:focus, .multiselect__tag-icon:hover {
    	background: transparent;
	}
	.multiselect__tag-icon:after{
		color: #5CA3F6;
		font-size: 18px;
		font-weight: 100;
	}
	.multiselect__select {
    	width: 40px;
		height: 50px;
	}
	.multiselect__option:after {
		line-height: 30px;
	}
}
.rsv-modal--point-row {
	> div:first-child {
		padding-top: 0 !important;
	}
	.use-point {
		color: #FE6F66;
		font-weight: bold;
		+ p {
			font-size: 12px;
			margin-top: 8px;
		}
	}
}

.icon-eye{
  background-image: url(/img/password-eye.svg);
  background-size: 18px;
  background-repeat: no-repeat;
  width: 20px;
  height: 13px;
  position: absolute;
  right: 13px;
  top: 13px;
  z-index: 100;
}

.bootstrap-btn{
  border-radius: 8px;
}

.main-modal{
//   padding: 0 70px;
	.doctor-result-con {

		&.clinic-search-con {
			display: block !important;
			margin-bottom: 40px;

			.search-doctor_item {
				width: 100%;
				display: flex;
				justify-content: space-between;
				margin-bottom: 10px;
			}
		}
	}
}

.label-title{
	font-size: 14px;
	color: #5F6377;
}

.detail-title{
  font-size: 14px;
  color: #9a9a9a;
}
.detail-content{
  font-size: 18px;
  margin: 8px 0;
  white-space: pre-wrap;
}

.non-bootstrap-btn{
  padding: 0.5rem 1.25rem;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #5CA3F6;
  border: 1px solid #5CA3F6;
}

.non-bootstrap-btn:hover{
  color: #ffffff;
  background: #5CA3F6;;
}

.non-bootstrap-btn:hover p svg path{
  stroke: white;
}

.caseinfo-title{
  color: #7d7d7d;
  font-size: 13px;
  margin: 5px 0;
}
.caseinfo-content{
  font-size: 18px;
}

.custom-pw-form-control{
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.125rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  padding-right: calc(1.5em + 0.75rem);
}
.custom-pw-is-invalid{
  border-color: #dc3545;
  padding-right: calc(1.5em + 0.75rem);
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}
.rm-icon-is-invalid{
  background-image: initial!important;
}

.invalid-feedback-custom{
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
}

.staff-sub-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.search-content{
	display: block;
	float: right;
}
.search-panel{
	padding: 0px 5px 0px 10px;
    position: relative;
	background: #fff;
}
.search-panel input{
	border: none;
    outline: none;
	font-size: 16px;
	letter-spacing: 0.1em;
	padding: 3px 11px 3px 8px;
}
.search-panel input::placeholder {
	color: rgba(19, 19, 64, 0.3) !important;
}
.search-panel span{
	// vertical-align: text-bottom;
	top: -4px;
    margin-right: 3px;
    position: relative;
	color: rgba(19, 19, 64, 0.3);
	i::before{
		font-weight: bolder !important;
	}
}
.gray-ph-input::placeholder{
	color: rgba(19, 19, 64, 0.3) !important;
}
.gray-ph-input{
	width: 470px;
	height: 50px;
	border-radius: 5px;
}

.font-500{
	font-weight: 500 !important;
}

.view-modal-content{
	& p{
		font-size: 20px;
		color: #131340;
		letter-spacing: 0.1em;
		padding-top: 5px;
	}
	& .form-group{
		margin-bottom: 35px;
	}
}
.view-img-panel img{
    width: 23%;
    height: 100px;
    margin: 5px 5px 5px 0;;
    border-radius: 7%;
}
.view-cate-panel{
	display: block;
	i{
		font-size: 17px;
		font-weight: 700;
		cursor: pointer;
		margin-left: 4px;
	}
}
.view-cate-panel p{
	font-size: 14px;
	color: #5CA3F6;
	background: #E2F0FF;
	padding: 3px 10px;
	display: inline-block;
    width: auto;
    margin: 5px 10px 5px 0;
	border-radius: 3px;
	letter-spacing: 0.1em;
}
.edit-cate-panel {
	p{
		font-size: 16px !important;
	}
	i{
		font-size: 22px;
	}
	i::before{
		line-height: 1.2;
	}

}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Modal */
// .form-modal-wrapper{
// 	position: absolute !important;
// 	left: calc(50% - 425px) !important;
// 	width: unset !important;
// }
// .form-modal-wrapper .form-modal-content{
// 	height: unset !important;
// }

// .form-modal-wrapper .form-modal-content .form-modal-body{
// 	max-height: unset !important;
// }

@media (max-width: 576px) {
	.main-content{
		padding: 0;
		.menu-ttl{
			font-size: 14px;
		}
		.menu-price{
			font-size: 16px;
		}
		.menu-one{
			padding: 0;
		}
	}
	.main-modal{
		padding: 0;
	}
	.btn{
		padding: 10px 20px;
		// min-width: 100%;
	}
	.btn-notify-primary, .btn-notify-secondary{
		min-width: 100%;
	}
	div.create-menu-content{
		padding: 0 !important;
	}
	.dropzone .dz-preview .dz-image{
		width: 150px !important;
	}
	.menu-img-panel img{
		width: 22% !important;
	}
	.staff-hira{
		font-size: 16px;
	}
	.staff-name {
		font-size: 13px;
		margin-top: 7px;
	}
	.staff-one{
		width: 46%;
		margin-left: 2%;
    	margin-right: 2%;
	}
	.staff-one > div.job-item {
		padding-top: 1.5rem;
	}
	#del-confirm-modal.form-modal-wrapper, #del-modal.form-modal-wrapper{
		left: 0 !important;
   		width: 100vw !important;
	}
	.staff-doctor-header{
		margin-top: 4rem;
	}
	.staff-sub-header{
		flex-direction: column;
	}
	.create-case-content{
		padding: 0 !important;
	}
	.case-one{
		width: 100%;
		margin-right: 1%;
	}
	.case-header{
		flex-direction: column;
	}
	.view-img-panel img{
		width: 22%;
	}
}
