.main-in {

    .main-content.main-dev-content.doctors-content {
        // padding: 25px 35px 40px 60px;
        padding: 25px 60px 40px 60px;

        .new-btn-header {
            text-align: right;
            // margin-right: 25px;

            button {

                &:first-child {
                    margin-right: 30px;
                }
            }
        }

        .staff-header.staff-doctor-header {
            // margin-right: 25px;
        }

        .search-content {
            // margin-right: 25px;
        }

        .search-staff-doctor {
            text-align: right;

            .search-input {
                padding-left: 30px;
                background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.7186 13.4067L11.414 10.0786C12.2811 8.93015 12.7499 7.45359 12.6327 5.88327C12.4218 2.78952 9.93739 0.258274 6.84364 0.000461057C2.95302 -0.280789 -0.28136 2.95359 0.0233277 6.84421C0.257703 9.93796 2.78895 12.4458 5.90614 12.6333C7.47645 12.727 8.92958 12.2583 10.1015 11.4145L13.4061 14.7192C13.7811 15.0942 14.3671 15.0942 14.7421 14.7192C15.0936 14.3677 15.0936 13.7583 14.7186 13.4067ZM6.32802 10.7817C3.86708 10.7817 1.87489 8.78952 1.87489 6.32859C1.87489 3.86765 3.86708 1.87546 6.32802 1.87546C8.78895 1.87546 10.7811 3.86765 10.7811 6.32859C10.7811 8.78952 8.78895 10.7817 6.32802 10.7817Z' fill='%23131340' fill-opacity='0.3'/%3E%3C/svg%3E%0A");
                background-repeat: no-repeat;
                background-position-x: 10px;
                background-position-y: 13px;
                border-radius: 3px;
                border: none;
                width: 255px;
                outline: none;
                font-size: 16px;
                letter-spacing: 0.1em;
            }
        }

        .staff-list {
            margin-top: 25px;
            width: 100%;
            display: grid;
            grid-template-columns: repeat(6, 250px);
            align-content: space-around;
            justify-content: space-between;
            @media screen and (max-width: 1920px) {
                grid-template-columns: repeat(5, 250px);
            }
            @media screen and (max-width: 1600px) {
                grid-template-columns: repeat(4, 250px);
            }
            @media screen and (max-width: 1400px) {
                grid-template-columns: repeat(3, 250px);
            }
            @media screen and (max-width: 900px) {
                grid-template-columns: repeat(2, 250px);
            }
            @media screen and (max-width: 600px) {
                grid-template-columns: repeat(1, 250px);
            }

            .staff-one {
                width: 250px;
                height: 300px;
                // margin: 0 25px 25px 0;
                margin: 0 0 25px 0;
                padding: 35px 0 25px;

                .photo-svg-item {
                    padding: 0;
                    max-width: 150px;
                    margin: auto;
                }

                .photo-item {
                    padding: 0;
                    width: 150px;
                    height: 150px;
                    object-fit: cover;
                    margin: auto;
                }

                .job-item {
                    padding: 25px 0 0;

                    p {
                        line-height: 1.75;
                        margin: 0;
                        padding: 0 10px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }

                &:hover {
                    background: rgba(0, 0, 0, 0.1);
                }
            }
        }
    }

    #invite-doctor-modal {

        .form-modal-content {
            min-height: 500px;

            .form-modal-body {
                padding: 75px 125px 0;

                .main-modal {

                    .label {
                        font-size: 18px;
                        margin-bottom: 10px;
                        color: #000;
                    }

                    .find-doctor-warning-msg {
                        margin-top: 10px;
                        font-size: 18px;
                        color: #FF3654;
                    }

                    .find-con {
                        display: flex;
                        justify-content: space-between;

                        button {
                            padding: 10px 30px;
                            font-size: 18px;
                            margin-left: 30px;
                        }

                        .find-con-input {
                            width: 100%;
                        }
                    }

                    .doctor-result-con {
                        display: flex;
                        justify-content: space-between;
                        margin-top: 60px;

                        p {
                            margin-left: 15px;
                            font-size: 18px;
                            color: #000;
                        }
                    }
                }
            }
        }
    }

    #stuff-modal {
        position: fixed;

        .form-modal-content {

            .form-modal-body {
                padding: 20px 125px 50px;

                .label-title {
                    font-size: 16px;
                }

                .upload-con {
                    text-align: center;

                    .btn-file-upload {
                        min-width: auto;
                        width: auto;
                        padding: 5px 15px;
                    }

                    .dz-preview {
                        width: 150px;
                        margin: auto;

                        .dz-image {
                            width: 150px;
                            height: 150px;
                            border-radius: 50%;
                            padding: 0;
                        }

                        &.dz-complete {
                            display: none;

                            &.dz-success, &.mal-preview {
                                display: block;
                            }
                        }
                    }
                }

                .name-grp {
                    display: flex;
                    margin: 60px 0 100px;

                    .name-item {
                        width: 100%;

                        &:first-child {
                            margin-right: 10px;
                        }
                    }
                }

                .btn-con {
                    text-align: center;
                }
            }
        }
    }

    #doctor-detail-modal {
        position: absolute;
        
        .form-modal-content {

            .form-modal-body {
                padding: 50px 125px;
            }
        }
    }

    #del-confirm-modal , #del-modal {
        position: fixed;

        .form-modal-content {
            width: 600px;

            .form-modal-body {
                padding: 0;
                
                .main-modal {

                    .auth--wrapper {
                        min-height: auto;
                        padding: 35px 0 30px;

                        .auth-form {
                            color: #000;
                            padding: 0;
                        }

                        .btn-grp {
                            margin-top: 30px;
                            display: flex;
                            justify-content: space-between;
                            width: 100%;
                            padding: 0 80px;
                        }
                    }
                }
            }
        }
    }

    #stuff-view-modal {
        position: fixed;

        .form-modal-body {
            padding: 70px 90px 50px;
            text-align: center;

            .img-con {
                margin-bottom: 40px;
            }
    
            .detail-con {
                margin-bottom: 60px;
    
                .detail-content {
                    margin: 0;
                }
            }
    
            .btn-grp {
                display: flex;
                justify-content: space-between;
            }

            .md-doctor-avatar-img{
                border-radius: 50%;
                object-fit: cover;
                width: 145px;
                height: 145px;
            }
        }
    }

    #doctor-detail-modal {
        
        .md-doctor-avatar-img{
            border-radius: 50%;
            object-fit: cover;
            width: 145px;
            height: 145px;
        }
    }
}
@media only screen and (max-width: 1200px) {
    
}