.main-in {

    &.pd-0 {
        padding: 0;
    }
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: rgba(19, 19, 64, 0.3) !important;
    opacity: 1 !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: rgba(19, 19, 64, 0.3) !important;
    opacity: 1 !important;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: rgba(19, 19, 64, 0.3) !important;
    opacity: 1 !important;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgba(19, 19, 64, 0.3) !important;
    opacity: 1 !important;
}
::-ms-input-placeholder { /* Microsoft Edge */
    color: rgba(19, 19, 64, 0.3) !important;
    opacity: 1 !important;
}
::placeholder { /* Most modern browsers support this now. */
    color: rgba(19, 19, 64, 0.3) !important;
    opacity: 1 !important;
}

.was-validated .form-control:invalid,
.form-control.is-invalid {
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.2545 11.4999L7.99681 1.45926C7.8026 1.08865 7.41875 0.856445 7.00034 0.856445C6.58193 0.856445 6.19808 1.08865 6.00387 1.45926L0.745623 11.4999C0.562942 11.8486 0.575874 12.2675 0.77972 12.6044C0.983566 12.9412 1.34866 13.147 1.74237 13.1469H12.2577C12.6515 13.147 13.0166 12.9412 13.2204 12.6044C13.4242 12.2675 13.4372 11.8486 13.2545 11.4999ZM6.43756 4.98785C6.43756 4.67719 6.6894 4.42535 7.00006 4.42535C7.31072 4.42535 7.56256 4.67719 7.56256 4.98785V8.36285C7.56256 8.67351 7.31072 8.92535 7.00006 8.92535C6.6894 8.92535 6.43756 8.67351 6.43756 8.36285V4.98785ZM7.01244 11.4622H7.02819C7.25155 11.4586 7.46403 11.3651 7.61754 11.2028C7.77105 11.0405 7.85263 10.8231 7.84381 10.5999C7.8257 10.1394 7.44741 9.77526 6.98656 9.77471H6.97081C6.748 9.77879 6.53617 9.87227 6.38299 10.0341C6.2298 10.196 6.14812 10.4126 6.15631 10.6353C6.17381 11.0959 6.55151 11.4607 7.01244 11.4622Z' fill='%23FF3654'/%3E%3C/svg%3E%0A");
}

.was-validated input[type="password"].form-control:invalid,
input[type="password"].form-control.is-invalid {
    background-image: none;
}

a {
    &:hover {
        color: unset;
    }
}

input.form-control {
    border-color: #C9D6DF;
    border-radius: 5px;
    height: 50px;
    padding: 10px 15px;
    font-size: 18px;

    &.fulled-status {
        border-color: #C9D6DF;
    }

    &:hover {
        border-color: #8C9FAB;
    }

    &:focus {
        box-shadow: 0px 0px 8px rgba(92, 163, 246, 0.4);
        border-color: #5CA3F6;
    }
}

textarea.form-control {
    border-color: #C9D6DF;
    border-radius: 5px;

    &.fulled-status {
        border-color: #C9D6DF;
    }

    &:hover {
        border-color: #8C9FAB;
    }

    &:focus {
        box-shadow: 0px 0px 8px rgba(92, 163, 246, 0.4);
        border-color: #5CA3F6;
    }
}

.pre-wrap {
    white-space: pre-wrap;
}

select.form-control {
    border-color: #C9D6DF;
    border-radius: 5px;
    height: 50px;
    
    &.fulled-status {
        border-color: #C9D6DF;
    }

    &:hover {
        border-color: #8C9FAB;
    }

    &:focus {
        box-shadow: 0px 0px 8px rgba(92, 163, 246, 0.4);
        border-color: #5CA3F6;
    }
}

.form-control:focus-visible {
    text-shadow: none !important;
}

.form-control:-moz-focusring {
    text-shadow: none !important;
}

body {
    line-height: 1.75;
    letter-spacing: 0.1em;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    line-height: 1.75;
    letter-spacing: 0.1em;
}
.btn {
    font-size: 18px;
    line-height: 1.75;
    letter-spacing: 0.1em;
    padding: 5px 30px;
}
.btn:focus, .btn.focus {
    box-shadow: unset;
}
.form-modal-wrapper {
    top: 50px;
    
    .form-modal-content {

        .form-modal-body {
            padding: 45px 125px;
            overflow: auto;

            .scroll-modal-body {
                height: calc(100vh - 280px);
                width: unset;
                position: relative;
                min-height: 400px;
                padding: 0 10px;
            }
        }
        
        .form-modal-footer {
            padding: 20px 0 30px;

            button {
                padding: 5px 30px;
            }
        }
    }
}

#payment-modal{
    .form-modal-content {

        .form-modal-body {
            padding: 60px;
            overflow: auto;

            .scroll-modal-body {
                height: calc(100vh - 280px);
                width: unset;
                position: relative;
                min-height: 400px;
                padding: 0 10px;
            }
        }
        
        .form-modal-footer {
            padding: 20px 0 30px;

            button {
                padding: 5px 30px;
            }
        }
    }
}

.header {
    padding: 7px 50px 7px 20px;

    .header-left-con {
        width: 50%;
    }

    .header-right {

        .news-alert {
            margin-right: 55px;
        }

        .login-info {

            .nav-link {
                padding: 0 25px 0 0;
                font-size: 14px;
                color: #414141;
                font-weight: 500;

                & .profile-photo {
                    width: 40px;
                    height: 40px;
                    margin: 0 9px 0 0;
                }

                &.dropdown-toggle {
                    position: relative;

                    &::after {
                        content: '';
                        position: absolute;
                        width: 10px;
                        height: 5px;
                        background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1.5L6 6.5L11 1.5' stroke='%23757296' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
                        top: 17px;
                        right: 0;
                        border: none;
                        background-size: cover;
                        background-position: center;
                    }
                }
            }

            
            
        }
    }
}

.tab-con {
    p{
    
        a {
            padding: 5px 10px;
    
            &:hover {
                background-color: #DDD;
            }
        }
    }
}

.header-menu {
    width: 200px;
    border-radius: 10px;
    filter: drop-shadow(rgba(0, 0, 0, 0.25) 0px 0px 7px);

    a {
        padding: 7px 15px 11px;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.75;

        &:hover {
            background: #F5F5F5;
        }

        &:first-child {
            border: none;

            &:hover {
                border-radius: 5px 5px 0 0;
            }
        }

        &:last-child {

            &:hover {
                border-radius: 0 0 5px 5px;
            }
        }

    }
}