.header {
    &-left {
        & button {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        & input {
            font-size: 15px;
        }
    }
}
.main {
    &-content {
        padding: 30px 32px 46px;
        & .staff-content {
            padding: 25px 10px 25px 15px;
            &-sub-header {
                align-items: center;
            }
        }
        & .menu-sort {
            height: 40px;
            max-width: 185px;
        }       
    }
}
.create-menu-content {
    & .col-md-8 {
        padding-left: 5px;
        padding-right: 5px;
    }
    & .col-md-4 {
        padding-left: 5px;
        padding-right: 5px;
    }
    & .col-6 {
        padding-left: 5px;
        padding-right: 5px;
    }
    & .col-12 {
        padding-left: 5px;
        padding-right: 5px;
    }
}

.main-in {

    .main-content.main-dev-content.menues-content {
        padding: 30px 30px 35px;
        .menu-cat {
            line-height: 18px;
            height: unset;
        }
        .staff-header > p > a {
            margin-right: 40px;
        }

        .staff-sub-header {
            margin-bottom: 15px;
            align-items: center;

            button {
                padding: 10px 30px;

                img {
                    width: 14px;
                }
            }
        }

        .form-control.menu-sort {
            border-radius: 3px;
        }

        .staff-content {
            padding: 30px 10px 40px 15px;

            .menu-one {
                padding-right: 6px;
                padding-left: 6px;

                .menu-one-in {

                    div.menu-img {
                        width: 155px;
                        height: auto;
                        max-height: 125px;
                        object-fit: cover;
                    }

                    .menu-info {
                        width: calc(100% - 155px);
                        padding: 10px 10px 5px;
                        height: 125px;
                        position: relative;

                        .menu-ttl {
                            margin: 8px 0 2px;
                        }

                        .menu-price {
                            line-height: 1.75;
                            position: absolute;
                            right: 5px;
                            bottom: 3px;

                            span {
                                font-size: 14px;
                            }
                        }
                    }
                }

                &:hover {
                    .menu-one-in {
                        background: rgba(0, 0, 0, 0.1);
                        box-shadow: none;

                        img {
                            filter: opacity(1) !important;
                        }
                    }
                }
            }
        }
    }

    #menu-modal {

        .form-modal-content {

            .form-modal-body {
                padding: 0;

                .scroll-modal-body {
                    padding: 0 125px;
                }

                .form-group {

                    &.m-row {
                        margin-right: -5px;
                        margin-left: -5px;
                    }

                    .btn.btn-file-upload {
                        width: unset;
                        padding: 5px 30px;
                    }

                    .multi-files-uploader.dropzone {
                        .dropzone-wrapper {
                            .dropzone-in > div p {
                                font-size: 14px;
                            }
                        }
                    }

                    .company-profile-img-list{
                        margin: 20px 0 0 0;

                        & > div {
                            padding: 0;
                        }

                        .company-image--edit {
                            width: 140px;
                            height: 100px;
                            max-width: unset;
                            flex: unset;
                            margin-right: 10px;
                            margin-bottom: 10px;

                            .over-hidden {

                                img {
                                    width: 140px;
                                    height: 100px;
                                    object-fit: cover;
                                }
                            }

                            .remove-btn {
                                position: absolute;
                                top: -10px;
                                right: -5px;
                                line-height: initial;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
    }

    #menu-view-modal {

        .form-modal-content {

            .form-modal-body {
                padding: 0;

                .scroll-modal-body {
                    padding: 0 125px;
                }

                .form-group {

                    &.m-row {
                        margin-right: -5px;
                        margin-left: -5px;
                    }

                    .btn.btn-file-upload {
                        width: unset;
                        padding: 5px 30px;
                    }

                    .companu-content--edit {

                        .company-profile-img-list{
                            margin: 0;

                            .company-image--edit {
                                padding: 0;
                                width: 140px;
                                height: 100px;
                                flex: unset;
                                margin-right: 10px;

                                .over-hidden {

                                    img {
                                        width: 140px;
                                        height: 100px;
                                        object-fit: cover;
                                    }
                                }
                            }
                        }        
                    }
                }

                .view-modal-content {

                    p {
                        padding: 0;
                    }

                    .view-cate-panel {
                        p {
                            padding: 3px 10px;
                        }
                    }
                }
            }
        }
    }
}