.main-in.resetpw-in {
    padding: 50px;

    .main-content.resetpw-content {
        padding: 60px;

        .page-title {
            font-size: 31px;
            font-weight: bold;
            margin-bottom: 20px;
        }

        .page-notice-msg {
            font-size: 18px;
            font-weight: normal;
            margin-bottom: 70px;
        }

        .label-title {
            font-size: 18px;
            margin-bottom: 10px;
        }

        .p-content {
            font-size: 24px;
            font-weight: bold;
            letter-spacing: 0.1em;
        }

        .p-grp {
            margin-bottom: 30px;

            button {
                padding: 10px 30px;
            }
        }
    }

    #email-modal {

        .form-modal-body {
            padding: 100px 100px 35px;

            .profile-dialog-container {
    
                .input-con {
                    max-width: 450px;
                    margin: auto;
    
                    label {
                        font-size: 16px;
                        color: #5F6377;
                        margin-bottom: 5px;
                    }
                }

                .btn-grp {
                    margin-top: 100px;
                    display: flex;
                    justify-content: space-between;

                    button {
                        padding: 10px 30px;
                    }
                }
            }
        }
    }

    #password-modal {

        .form-modal-content {

            .form-modal-body {
                padding: 80px 185px 35px;

                .profile-dialog-container {
                    padding: 0;

                    .item-con {
                        max-width: 450px;
                        margin: 0 auto 30px;
                    }

                    .btn-grp {
                        margin-top: 90px;
                        display: flex;
                        justify-content: space-between;
                    }
                }
            }
        }
    }
}